<main></main>
    <div class="d-flex justify-contet-center align-items-center"></div>
        <h1>Recuperar Contraseña</h1>
        <form action="/api/sessions/changepass" method="POST" class="form-group w-50" >
            <input type:"text" name="email" class="form-control" placeholder="Introduzca el email">
            <input type:"text" name="newPassword" class="form-control" placeholder="Introduzca el nuevo Password">
            <button>Enviar</button>
        </form>
    </div>
</main>