<main></main>
    <div class="d-flex justify-contet-center align-items-center"></div>
        <h1>Login</h1>
        <form action="/api/sessions/login" method="POST" class="form-group w-50" >
            <input type:"text" name="email" class="form-control" placeholder="Introduzca el email">
            <input type:"text" name="password" class="form-control" placeholder="Introduzca el password">
            <button>Enviar</button><br>
            <a href="/register">Register</a><br>
            <a href="/newpass">Olvidaste tu contraseña?</a>
            <a href="/api/sessions/github" class="btn btn-outline-dark w-75">Entrar con github</a>
        </form>
    </div>
</main>