<main>
    <div class="d-flex justify-contet-center align-items-center">
        <h1>Register</h1>
        <form action="/api/sessions/register"  method="POST" "form-group w-50">
            <input type:"text" name="first_name" class="form-control" placeholder="Introduzca el nombre">
            <input type:"text" name="last_name" class="form-control" placeholder="Introduzca el apellido">
            <input type:"text" name="email" class="form-control" placeholder="Introduzca el email">
            <input type:"text" name="password" class="form-control" placeholder="Introduzca el password">
            <button>Enviar</button>
            <a href="/login">Login</a>
        </form>
    </div>
</main>